#data
*.mat
*.dat
*.data
*.meta
checkpoint
*.index
*.data-00000-of-00001

#audio
*.wav

#text
*.txt
*.csv
*.swp
*.m
*.ods#
*.ods

#image
*.jpeg
*.png
*.jpg
*.bmp

#Mac
.DS_Store
._.DS_Store

#folder
hhar/HHAR-Data-Process/Dataset_Alg_SourceDevice/
hhar/HHAR-Data-Process/Dataset_AccGry_SourceDevice-Creation_Time-avgTime/
uschad/table_result/record
uschad/mid_cnn_ex.subopt/record
uschad/mid_cnn_ex.subopt/weights
uschad/mid_cnn_ex.subopt/extra/record
uschad/mid_cnn_ex.subopt/extra/weights
test.xu_comb_ds60/record
test.xu_comb_ds60/weights
